body {
    margin: 0;
    font-family: sans-serif;
    background-color: #121212; 
    color: #ffffff; 
}


.main-header {
    background-color: #1a1a1a;
    text-align: center;
    padding: 20px 0;
}

.main-header h1 {
    margin: 0;
    font-weight: normal;
}


.navbar {
    background-color: #1a4221; 
    display: flex;
    padding: 0;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 15px 25px;
    display: inline-block;
}

.navbar a.active {
    background-color: #2b5c35; 
}


.container {
    display: flex;
    padding: 20px;
    height: calc(100vh - 120px); 
}

.left-column {
    flex: 1;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
}

.left-column p {
    line-height: 1.5;
}

.dashed-lines {
    margin-top: auto; 
    margin-bottom: 20px;
}

.dashed-line {
    border-bottom: 1px dashed #555;
    margin: 15px 0;
    height: 1px;
}

.right-column {
    flex: 3;
    display: flex;
    flex-direction: column;
}

.graph-placeholder {
    background-color: #333;
    flex-grow: 1; 
    min-height: 300px;
}

.graph-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}

.stock-selector {
    font-size: 1.2em;
}

.time-ranges {
    color: #ccc;
}

.time-ranges span {
    margin: 0 5px;
    cursor: pointer;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; 
    color: white;
}

.swiper-button-next, .swiper-button-prev {
    color: #228B22 !important;
    transform: scale(0.5); 
    width: 20px !important;
}


.swiper-button-prev {
    left: 0px !important;
}

.swiper-button-next {
    right: 0px !important;
}


.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; 
    padding: 0 30px; 
    box-sizing: border-box;
}

